# Java
*.class
*.jar
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.settings/
.project
.classpath
.vscode/

# Serenity reports
target/site/
target/serenity/

# Logs
*.log

# OS
.DS_Store
Thumbs.db